:root{
    --colorVerde: #1E3231;
    --colorVerdeClaro: #347b3e;
    --colorEscuro: #142221;
    --ciano: #00E5C7;
    --cianoSombreado: #02b69e;

}



li{
    text-decoration: none;
    list-style: none;

}
